body {
  font-family: "Poppins", sans-serif;
}

/* font color */
.color1{
    color: #227C9D;
}
.color2{
    color: #FE6D73;
}
.color3{
    color: #0FA3B1;
}
.color4{
    color: #F7A072;
}
.color-Yellow{
    color: #EAE225;
}
.color-Background{
    color: #F7F3EB;
}
.color-Letter{
    color: #343A40;
}
.color-Muted{
    color: #D9D9D9;
}

#premium-p {
    color: #EAE225; 
    text-shadow: 0px 3px 5px #060606;
    font-size: 45px;
    font-weight: 400 !important;
}

/* border */
.outer-button {
  width: auto;
  height: auto;
  background:  linear-gradient(to right, #3ACBD9, #F7A072);
  border-radius: 9999px;
  padding: 3px;
  margin-right: 10px;
}
.inner-button {
  width: auto;
  height: auto;
  background: white;
  border-radius: 9999px;
  text-align: center;
}

/* bg color */
.bg-color1{
    background-color: #227C9D;
}
.bg-color2{
    background-color: #FE6D73;
}
.bg-color3{
    background-color: #0FA3B1;
}
.bg-color4{
    background-color: #F7A072;
}
.bg-color-Yellow{
    background-color: #EAE225;
}
.bg-color-Background{
    background-color: #F7F3EB;
}
.bg-color-Letter{
    background-color: #343A40;
}
.bg-color-Muted{
    background-color: #D9D9D9;
}
.bg-color-Rainbow{
    background: -moz-linear-gradient(left, #3ACBD9, #F7A072);
    background: -webkit-linear-gradient(left, #3ACBD9, #F7A072);
    background: linear-gradient(to right, #3ACBD9, #F7A072);
}

/* border */
.border-color-Letter{
  border-right: solid 1px #343A40;
}

.outer-button {
  width: auto;
  height: auto;
  background:  linear-gradient(to right, #3ACBD9, #F7A072);
  border-radius: 9999px;
  padding: 3px;
  margin-right: 10px;
}
.inner-button {
  width: auto;
  height: auto;
  background: white;
  border-radius: 9999px;
  text-align: center;
}

/* svg */
.svg-DF5656 {
  filter: brightness(0) saturate(100%) invert(46%) sepia(31%) saturate(2235%) hue-rotate(324deg) brightness(92%) contrast(89%);
}
.svg-0FA3B1 {
  filter: brightness(0) saturate(100%) invert(48%) sepia(65%) saturate(3554%) hue-rotate(154deg) brightness(96%) contrast(88%);
}
.svg-939292 {
  filter: brightness(0) saturate(100%) invert(67%) sepia(3%) saturate(21%) hue-rotate(335deg) brightness(86%) contrast(93%);
}
.svg-F34AE2 {
  filter: brightness(0) saturate(100%) invert(51%) sepia(64%) saturate(3611%) hue-rotate(277deg) brightness(95%) contrast(101%);
}
.svg-FFD700 {
  filter: brightness(0) saturate(100%) invert(87%) sepia(65%) saturate(7500%) hue-rotate(357deg) brightness(104%) contrast(102%);
}
.svg-92DF56 {
  filter: brightness(0) saturate(100%) invert(71%) sepia(60%) saturate(379%) hue-rotate(49deg) brightness(96%) contrast(102%);
}

.color-DF5656 { color: #DF5656;}
.color-0FA3B1 { color: #0FA3B1;}
.color-939292 { color: #939292;}
.color-F34AE2 { color: #F34AE2;}
.color-FFD700 { color: #FFD700;}
.color-92DF56 { color: #92DF56;}

.bg-color-Rainbow-opacity{
  background: -moz-linear-gradient(left, rgba(58, 203, 217, 0.8), rgba(247, 160, 114, 0.8));
  background: -webkit-linear-gradient(left, rgba(58, 203, 217, 0.8), rgba(247, 160, 114, 0.8));
  background: linear-gradient(to right, rgba(58, 203, 217, 0.8), rgba(247, 160, 114, 0.8));
}

/* btn */
.btn-main {
  color: #fff;
  background: #F7A072;
  border: solid 2px #F7A072 !important;
  border-radius: 50px;
}
.btn-main:hover {
  background: #fff;
  color: #F7A072;
  
  .border-color4{
    border: solid 1px #F7A072 !important;
  }
  .icon-in-btn {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(90%) sepia(10%) saturate(5416%) hue-rotate(314deg) brightness(99%) contrast(95%);
  }
}
.btn-main-reverse {
  color: #F7A072;
  background: #fff;
  border: solid 2px #F7A072 !important;
  border-radius: 50px;
}
.btn-main-reverse:hover {
  opacity: 0.6;
}

.btn-sub {
  background: #0FA3B1;
  color: #fff;
}
.btn-sub:hover{
  background: #F7F3EB;
  color: #0FA3B1;
  border: #0FA3B1;
}

/* icon */
.icon-in-btn {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.icon-sm {
  width: 20px;
  height: 20px;
}

/* image */
.object-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* premium btn */
#ul-black {
  list-style-type: none;
  padding-left: 20px;
}

#ul-black li::before {
  content: "\2022"; 
  color: black;
  display: inline-block;
  width: 1em; 
  margin-left: -1em; 
}

/* nav modal */
.fullscreen .modal-dialog {
    margin: 0 0 0 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
}
.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  overflow:auto;
}
.fullscreen .modal-content .modal-header{
  border: 0px;
}
.fullscreen .modal-content button{
  opacity: 1;
}
.fullscreen .modal-content button span{
  color: #fff;
  font-weight: 1;
  font-size: 26px;
  text-shadow: none;
}
.fullscreen .modal-body .modal-logo img {
  width: 158px;
  padding-bottom: 84px;
}
.fullscreen .modal-body ul {
  margin-top: 50px;
  padding: 0 0 0 0;
}
.fullscreen .modal-body li {
  padding-bottom: 43px;
}
.fullscreen .modal-body a {
  color: #fff;
}
.fullscreen .modal-body .social img {
  width: 56px;
  margin: 8px;
}
.modal-title{
  color: #fff;
}

/* sidebar */
.detail-link {
  list-style: none;
}
.side-icon img{
  width: 28px;
  height: 28px;
}
.outer.active {
  display: inline-block;
  width: auto;
  height: auto;
  background:  linear-gradient(to right, #3ACBD9, #F7A072);
  border-radius: 9999px;
  padding: 3px;
  margin-right: 10px;
}
.outer.active .inner {
  width: auto;
  height: auto;
  background: white;
  border-radius: 9999px;
  text-align: center;
}


/* footer */
footer{
  height: 80px;
}

/* Calender */
.Calendar td {
  padding: 5px 20px 30px 20px;
}
.Calendar .card {
  border: none;
}

/* Wish */
.achivement_list { 
  margin-top: 100px;
}
table {
  border-collapse: separate;
}
table th { color: white;}
table td,table th {
  padding: 1rem;
  margin: 2px;
  font-weight: bold;
}
table .t1 {
  position: relative;
}
table .t2 {
  position: absolute;
  top: -0;
  right: -2px;
  width: 2px;
  height: 100%;
  background-color: #F7F3EB;
}
table thead .t2 {
  height: calc(100% - 2px);
}
#wish .card a {
  top: 0px;
  right: 00px;
}

/* wish_new */
.COMP-form input {
  background: inherit;
  width: auto;
  font-size: 20px;
}
.COMP-form p {
  font-size: 18px;
}

/* transaction */
.tab__panel {
  width: 100%;
 }
 .tab__panel-box001 {
   display: none;
 }
 .tab__panel-box002 {
   display: none;
 }
 .tab__panel-box003 {
   display: none;
 }
 .tab__panel-box.is-show {
   display: block;
 }

.hidden {
  display: none;
}
.fukidashi {
  top: 0;
  right: -400px;
  width: 350px;
  height: auto;
  padding: 1rem;
  background-color: #FFFFFF;
}
/* .fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #FFFFFF;
  border-width: 10px;
  pointer-events: none;
  content: " ";
} */
.COMP-form:hover + .fukidashi {
  display: block !important;
}

.fukidashi p {
  margin: 0;
}

.category-icon {
  height: 20px;
  width: 20px;
}

p {
  cursor: pointer;
}


@media (min-width: 992px) {
.bg-color-Rainbow .navbar-expand-lg .navbar-toggler {
    display: block;
}

.navbar-expand-lg {
  justify-content: flex-end;
}
}

@media (max-width: 768px) {  
  /* footer */
  footer{
    height: auto;
  }
  footer .row{
    padding-bottom: 3rem;
  }
  .footer-logo{
    padding-top: 1rem;
  }
  .footer-nav .mt-4{
    margin-top: 1rem !important;
  }
  .footer-nav li{
    margin-top: 0.5rem;
  }
  .footer-sns{
    margin-top: 1rem;
  }
  .footer-sns .d-block{
    display: inline !important;
    margin: 0 1rem;
  }

}

.btn-main {
color: #fff;
background: #F7A072;
border: solid 2px #F7A072 !important;
border-radius: 50px;
}
.btn-main:hover {
background: #fff;
color: #F7A072;

  .border-color4{
      border: solid 1px #F7A072 !important;
  }
  .icon-in-btn {
      width: 30px;
      height: 30px;
      filter: brightness(0) saturate(100%) invert(90%) sepia(10%) saturate(5416%) hue-rotate(314deg) brightness(99%) contrast(95%);
  }
}

.btn-main-1 {
color: #F7A072;
background: #fff;
border: solid 2px #fff !important;
border-radius: 50px;
}
.btn-main-1:hover {
background: #F7A072;
color: #fff;

  .border-color4{
      border: solid 1px #F7A072 !important;
  }
  .icon-in-btn {
      width: 30px;
      height: 30px;
      filter: brightness(0) saturate(100%) invert(90%) sepia(10%) saturate(5416%) hue-rotate(314deg) brightness(99%) contrast(95%);
  }
}

.outer-button-1 {
  width: auto;
  height: auto;
  background:  linear-gradient(to right, #3ACBD9, #F7A072);
  border-radius: 8px;
  padding: 3px;
  margin-right: 10px;
}
.inner-button-1 {
  width: auto;
  height: auto;
  background: white;
  border-radius: 8px;
  text-align: center;
}

/* Learn More */
.bg-img {
  width: 100%;
  height: 85vh;
  background-image: url(../images/bg_img_landing_learnMore.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* faq */
.faq-item {
  cursor: pointer;
  transition: all .3s; /* アニメーション */
}

/* faq is-active */
.faq-item.is-active {
  color: #F7A072;
}
.faq-title.is-active {
  color: #F7A072;
}

/* faq is-show */
.faq-box.is-show {
  display: block;
}

/* Edit Category */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 150px;
  top: -30px;
  border-right: 50px solid transparent;
  border-bottom: 30px solid #F8FAFC;
  border-left: 50px solid transparent;
}

/* icon color filter */
.filter-2FCC71 {
  filter: brightness(0) saturate(100%) invert(66%) sepia(45%) saturate(626%) hue-rotate(92deg) brightness(89%) contrast(98%);
}

.filter-B8E894 {
  filter: brightness(0) saturate(100%) invert(95%) sepia(7%) saturate(2126%) hue-rotate(37deg) brightness(95%) contrast(91%);
}

.filter-FFD70A {
  filter: brightness(0) saturate(100%) invert(90%) sepia(90%) saturate(5508%) hue-rotate(338deg) brightness(96%) contrast(109%);
}

.filter-FECA57 {
  filter: brightness(0) saturate(100%) invert(97%) sepia(23%) saturate(6939%) hue-rotate(314deg) brightness(102%) contrast(103%);
}

.filter-FFAA3F {
  filter: brightness(0) saturate(100%) invert(71%) sepia(97%) saturate(842%) hue-rotate(328deg) brightness(103%) contrast(101%);
}

.filter-FF7F50 {
  filter: brightness(0) saturate(100%) invert(65%) sepia(96%) saturate(2351%) hue-rotate(326deg) brightness(103%) contrast(102%);
}

.filter-FF3F34 {
  filter: brightness(0) saturate(100%) invert(34%) sepia(81%) saturate(2648%) hue-rotate(341deg) brightness(101%) contrast(100%);
}

.filter-FD79A8 {
  filter: brightness(0) saturate(100%) invert(53%) sepia(90%) saturate(364%) hue-rotate(293deg) brightness(101%) contrast(99%);
}

.filter-F8A5C2 {
  filter: brightness(0) saturate(100%) invert(89%) sepia(98%) saturate(5953%) hue-rotate(283deg) brightness(100%) contrast(95%);
}

.filter-FF9FF3 {
  filter: brightness(0) saturate(100%) invert(92%) sepia(23%) saturate(3154%) hue-rotate(230deg) brightness(101%) contrast(105%);
}

.filter-D980FA {
  filter: brightness(0) saturate(100%) invert(80%) sepia(37%) saturate(6782%) hue-rotate(224deg) brightness(101%) contrast(99%);
}

.filter-6C5CE7 {
  filter: brightness(0) saturate(100%) invert(42%) sepia(80%) saturate(3566%) hue-rotate(230deg) brightness(93%) contrast(95%);
}

.filter-0652DD {
  filter: brightness(0) saturate(100%) invert(35%) sepia(98%) saturate(6844%) hue-rotate(218deg) brightness(91%) contrast(95%);
}

.filter-2E86DE {
  filter: brightness(0) saturate(100%) invert(41%) sepia(91%) saturate(901%) hue-rotate(185deg) brightness(92%) contrast(88%);
}

.filter-54A0FF {
  filter: brightness(0) saturate(100%) invert(61%) sepia(84%) saturate(3265%) hue-rotate(194deg) brightness(105%) contrast(101%);
}

.filter-48DBFB {
  filter: brightness(0) saturate(100%) invert(83%) sepia(62%) saturate(3680%) hue-rotate(158deg) brightness(99%) contrast(98%);
}

.filter-C8D6E5 {
  filter: brightness(0) saturate(100%) invert(90%) sepia(12%) saturate(345%) hue-rotate(175deg) brightness(94%) contrast(90%);
}

.filter-7F8C8D {
  filter: brightness(0) saturate(100%) invert(58%) sepia(2%) saturate(1248%) hue-rotate(136deg) brightness(93%) contrast(90%);
}

.filter-1E3799 {
  filter: brightness(0) saturate(100%) invert(19%) sepia(54%) saturate(3288%) hue-rotate(221deg) brightness(83%) contrast(98%);
}

.filter-474787 {
  filter: brightness(0) saturate(100%) invert(31%) sepia(36%) saturate(847%) hue-rotate(201deg) brightness(84%) contrast(92%);
}

.filter-833471 {
  filter: brightness(0) saturate(100%) invert(25%) sepia(51%) saturate(1211%) hue-rotate(271deg) brightness(88%) contrast(87%);
}

.filter-C0392B {
  filter: brightness(0) saturate(100%) invert(22%) sepia(96%) saturate(1719%) hue-rotate(344deg) brightness(94%) contrast(89%);
}

.filter-B71540 {
  filter: brightness(0) saturate(100%) invert(15%) sepia(52%) saturate(4858%) hue-rotate(330deg) brightness(98%) contrast(99%);
}

.filter-218C74 {
  filter: brightness(0) saturate(100%) invert(41%) sepia(70%) saturate(455%) hue-rotate(116deg) brightness(94%) contrast(85%);
}
